*{
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
    /* max-width: 1160px;
    margin: 0 auto; */
}
main{
    max-width: 1160px;
    margin: 0 auto;  
}
header{
    max-width: 1160px;
    margin: 0 auto;
    
}
button{
    cursor: pointer;
}
.banner{
    /* width: 1320px;
    height: 600px; */
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url('../images/Banner\ Image.png');
   
    background-position: center;
    background-repeat: no-repeat;
    /* margin-left: 100px; */
    background-size: contain;
    text-align: center;
}
.banner-small{
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    /* padding: 177px 530px 16px 530px; */
    padding-top: 177px;
    
}
.banner-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    padding: 0px 250px 177px 250px;
}
.off{
    text-align: center;
}
.off-title{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 48px;
}
.off-disc{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    /* margin-bottom: 16px; */
}
.off-category{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
.welcome{
    background-image: url('../images/Vectorrr.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 1320px ;
    height: 600px; */
    display: flex;
    justify-content: space-between;
}
.welcome-text{
    width: 90%;
}
.welcome-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    padding-top: 126px;
    padding-left: 126px;
    padding-right: 94px;
   
}
.welcome-dis{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* padding-top: 1px; */
    padding-left: 126px;
    padding-right: 39px;

}
.btn-pri{
    margin-left: 150px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 24px;
    margin-bottom: 45px;
}
.welcome-image{
    margin-right: 80px;
    margin-top: 160px;
    height: 600px;
}
.venue{
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 15px;
    text-align: center;
    margin-top: 120px;
    padding-top: 100px;
    padding-bottom: 0px;
}
.venue-text{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.venue-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; 
    text-transform: capitalize;
}
.btn-venue{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: #F00;
    border: 0;
    border-radius: 8px;
    padding: 16px 32px;
    margin-top: 48px;
    margin-bottom: 90px;
}
.sale{
    display: flex;
    /* justify-content: space-between; */
    margin-top: 120px;
    height: 455px;
    margin-bottom: 120px;
}
.sale-red{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.sale-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.sale-dis{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-right: 70px; 
}
.sale-dis-col3{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* margin-right: 70px;  */
}
.sale-image{
    /* width: 265px;
    height: 265px; */
    margin-top: 18px;
}
.sale-column2{
    border: #F00 solid 20px;
    border-radius: 400px 400px 400px 400px;
    padding-right: 15px;
    padding-left:  15px;
    padding-top:   10px;
    padding-bottom:10px;
    margin-right: 118px; 

}
.sale-year{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}
.sale-dis{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    /* line-height: 32px;  */
    margin-bottom: 43px;
}

.holiday{
    margin-top: 120px;
}
.holiday-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}
.holiday-small{
    color: #070211;
    font-family: Inter;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.holiday-dis{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; 
    padding: 0px 110px;
}
.coloring{
    color: #F00;
}
.top-images{
    display: flex;
    justify-content: space-around;
    margin-top: 64px;
    background-image: url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto 200px;
}
.box-image{
    width: 674px;
    height: 577px;
}
.discount-image{
    width: 165px;
    height: 165px;
   
    
}
.girl-image{
    width: 385px;
    height: 377px;
    margin-left: 40px;
    margin-right: -15px;
    
}
.gift-image{
    flex-wrap: wrap;
}

.product-image{
    width: 370px;
    height: auto;
    margin-bottom:18px;
    padding-right: 12px;
    transition: transform .2s;
}
.product-image:hover{
    /* -ms-transform: scale(1.1);  IE 9 */
    /* -webkit-transform: scale(1.1); Safari 3-8  */
    transform: scale(1.1); 
}
.gift-text{
    margin-top: 120px;
}
.gift-small{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.gift-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.gift-dis{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    margin-bottom: 48px;
}

.add-bar{
    display: flex;
    width: 448px;
    height: 48px;
    border: 1px solid black;
    border-radius: 50px;
    justify-content: space-between;
    text-align: center;
    margin-left: 355px;
    
    
    
}
.mail{
    margin-top: 15px;
    margin-left: 15px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
.subs-button{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;  
    width: 150px;
    border: 0px;
    
}
.btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.subscribe{
    margin-top: 102px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding-bottom: 80px;
    padding-top: 80px;
    
}
.letter-image{
    /* margin-top: 80px; */
    margin-bottom: 40px;
}
.subscribe-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
    padding-left: 120px;
    padding-right: 120px;
}
.subscribe-dis{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    margin-bottom: 48px;
    padding-left: 120px;
    padding-right: 120px
}

footer{
    background-color: #070211;
    padding-left: 140px;
    padding-right: 140px;
    margin-top: 120px;
}
.address{
    display: flex;
    /* text-align: center; */
    justify-content: space-between;
}
.address-text{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
    margin-right: 90px;
    margin-top: 120px;
    width: 50%;
}
.phone{
    margin-right: 10px;
}
.globe{
    margin-right: 10px;
}
.web-address{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    /* line-height: 40px; */
}
.phn-num{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    /* line-height: 40px;  */
    
}
.contact{
    margin-top: 120px;
    width: 40%;
}
.row{
    display: flex;
    row-gap:0;
    column-gap: 0;
}
.line{
    color:rgba(255, 255, 255, 0.15);
    margin-top: 50px;
}
.icons{
    text-align: center;
    margin-top: 48px;
}
.individual-icon{
    margin-right: 24px;
}
.btn-last{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    background-color:  #070211;
    border: 0;
    border-radius: 8px;
    margin-left: 365px;
    /* padding: 16px 32px; */
    margin-bottom: 120px;
    
}
.tag{
    position: absolute;
    left:795px;
    top: 4215px;
    z-index: 1;
}
